openapi: 3.0.3
info:
  title: QIC Aggregator API
  version: 1.0.0
servers:
  - url: https://www.devapi.anoudapps.com
paths:
  /qicservices/aggregator/GetQuotation:
    post:
      operationId: getQuotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
  /qicservices/aggregator/PurchasePolicy:
    post:
      operationId: purchasePolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /qicservices/aggregator/UploadPolicyDocument:
    post:
      operationId: uploadPolicyDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /qicservices/aggregator/GetPolicyStatus:
    post:
      operationId: getPolicyStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
